<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">


    <style type="text/css">
     body {
        padding-top: 60px;
        padding-bottom: 40px;

      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

    </style>
    <title>Search</title>
    <script type="text/javascript">
        function handle(event){
            if (event.keyCode == 13){
                event.preventDefault();
                submitsearchresult();
            }
        }

        function submitsearchresult(){
            console.log(document.getElementById("search").value == null);
            console.log('here');
            if(document.getElementById("search").value != "")
                window.location.href = "/search/"+"{{region}}"+"/"+document.getElementById("search").value;
        }

        function updateresult(){
            console.log(document.getElementById("search").value == null);
            console.log('here');
            if(document.getElementById("search").value != "")
                window.location.href = "/update/"+"{{region}}"+"/"+document.getElementById("search").value;
        }

        function submitregion(region){
            window.location.href = "/champions/"+region+"/"+"{{league}}"+"/"+"{{time}}"+"/";
        }

        $(document).ready(function() {
            $('#chamtable').DataTable({"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                       "order": [[ 1, "desc" ]]
            });
        } );



        function togglebutton() {

            var league = "{{league}}"
            var time = "{{time}}"
            document.getElementById(league).disabled = true
            document.getElementById(league).style.background = '#222222'
            document.getElementById(league).style.color = '#eeeeee'
            document.getElementById(time).disabled = true
            document.getElementById(time).style.background ='#222222'
            document.getElementById(time).style.color ='#eeeeee'
        }

        function submittime(time){
            window.location.href = "/champions/"+"{{region}}"+"/"+"{{league}}"+"/"+time+"/";
        }

        function submitleague(league){
            window.location.href = "/champions/"+"{{region}}"+"/"+league+"/"+"{{time}}"+"/";
        }
    </script>
</head>
<body onload="togglebutton()">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><b>FYP</b></a>

            <div id="navbar" class="navbar-collapse collapse">

            <ul class="navbar-nav">
              <li class="nav-item">
                  <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <a onclick="submitsearchresult()" style="width: 100%; height: 40px;" class="btn btn-success">Search  </a>
                        </div>

                        <input class="form-control mr-sm-2" onkeypress="handle(event)" id = "search" type="text" autofocus="autofocus" autocomplete="off" placeholder="Search Here" name="search" style="height:40px;" value="{{search_value}}">
                    </div>
                </form>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">  {{region}}  <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"><a onclick="submitregion('NA1')">NA1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('KR')">KR</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('EUN1')">EUN1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('EUW1')">EUW1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('JP1')">JP1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('RU')">RU</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('BR1')">BR1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('OC1')">OC1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('TR1')">TR1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('LA1')">LA1</a></a>
                        <a class="dropdown-item"><a onclick="submitregion('LA2')">LA2</a></a>
                    </div>
              </li>
                <li class="nav-item"><a class="nav-link" href="/search/{{region}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/champions/{{region}}">Champions</a></li>

            </ul>

            </div>
          </div>
    </nav>

<div class = "container-fluid">
        <div class="row">
        <div class="col-sm-3 sidebar">
            <div class="list-group" style="width: 70%; margin-left: 15%">
                <div class="list-group-item" style="text-align: center; background: #222222; color: #eeeeee"><strong>League</strong></div>
                <button id = "All" type="button" onclick="submitleague('All')" class="list-group-item" style="text-align: center;">All</button>
                <button id = "Bronze" type="button" onclick="submitleague('Bronze')" class="list-group-item" style="text-align: center;">Bronze</button>
                <button id = "Silver" type="button" onclick="submitleague('Silver')" class="list-group-item" style="text-align: center;">Silver</button>
                <button id = "Gold" type="button" onclick="submitleague('Gold')" class="list-group-item" style="text-align: center;">Gold</button>
                <button id = "Platinum" type="button" onclick="submitleague('Platinum')" class="list-group-item" style="text-align: center;">Platinum</button>
                <button id = "Diamond" type="button" onclick="submitleague('Diamond')" class="list-group-item" style="text-align: center;">Diamond</button>
                <button id = "Master" type="button" onclick="submitleague('Master')" class="list-group-item" style="text-align: center;">Master</button>
                <button id = "Challenger" type="button" onclick="submitleague('Challenger')" class="list-group-item" style="text-align: center;">Challenger</button>
            </div>

            <div class="list-group" style="width: 70%; margin-left: 15%">
                <div class="list-group-item" style="text-align: center; background: #222222; color: #eeeeee"><strong>Time</strong></div>
                <button id = "All2" type="button" onclick="submittime('All2')" class="list-group-item" style="text-align: center;">All</button>
                <button id = "Lastmonth" type="button" onclick="submittime('Lastmonth')" class="list-group-item" style="text-align: center;">Last month</button>
                <button id = "Last7days" type="button" onclick="submittime('Last7days')" class="list-group-item" style="text-align: center;">Last 7 days</button>
                <button id = "Today" type="button" onclick="submittime('Today')" class="list-group-item" style="text-align: center;">Today</button>

            </div>
        </div>



    <div class="col-sm-9 main">
        <table id="chamtable"	data-toggle="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>

                    <th data-field="champion" data-sortable="true" >Champion</th>
                    <th data-field="winrate" data-sortable="true" >Win rate</th>
                    <th data-field="gamesplayed" data-sortable="true" >Games played</th>
                    <th data-field="KDA" data-sortable="true">KDA</th>
                    <th data-field="Gold" data-sortable="true">Gold</th>
                </tr>
            </thead>
            <tbody>
                {% for champion in cham_list %}
                <tr>

                    <td><img class="img-circle" src="http://ddragon.leagueoflegends.com/cdn/8.3.1/img/champion/{{champion.champion}}.png" alt="image" width="30" height="30"/> &nbsp;{{champion.champion}}</td>
                    <td>{{champion.rate}}</td>
                    <td>{{champion.played}}</td>
                    <td>{{champion.kda}}</td>
                    <td>{{champion.gold}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
        </div>
    </div>
</body>
</html>